*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}   
h1{
    font-weight: normal;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans';
}
.shape{
    height: 200px;
    width: 200px;
    margin-top: 10px; margin-left: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    display: flex;
}
#square:hover{
    background-color: red;
}
#circle:hover{
    background-color: green;
}
#diamond:hover{
    background-color: blue;
}
#circle{
    border-radius: 70%;
}
#diamond{
    rotate: 45deg;
    margin-top: 40px;
    height: 141px;
    width: 141px;
    translate: 30px;
}