*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100% ;
    width: 100%;
     /* display: flex; */
    /* align-items: center;
    justify-content: center; */ 
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    height: 300px;
    width: 230px;
    border: 1px solid salmon;
    border-radius: 20px;
    overflow: hidden;
}
#card1{
    z-index: 4; 
    background-color: brown;

}
#card2{
    z-index: 3;
    rotate: -7deg;
    height: 280px;
    width: 210px;
    background-color: blue;
}
#card3{
    z-index: 2;
    rotate: -14deg;
    height: 260px;
    width: 190px;
    background-color: green;
}
#card4{
    z-index: 1;
    rotate: -21deg;
    height: 240px;
    width: 170px;
    background-color: yellow;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#card2:hover{
    z-index: 10;
}
#card3:hover{
    z-index: 10;
}
#card4:hover{
    z-index: 10;
}